.brew-edit-form-body-div {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 400px;

}

.input-field {
    padding: 10px;
    border-radius: 5px;
    width: 175px;
    margin-bottom: 5px;
}

.EditDetailFormButton {
    background-color: #c41200;
    cursor: pointer;
    color: white;
    padding: 15px;
    border-radius: 5px;
    border: 0;
    margin-right: 5px;
}

