.profile-body-div {
    margin-top: 50px;
    margin-bottom: 100px;
    display: flex;
}

.profile-name-title {
    display: flex;
    justify-content: center;
}

.profile-host-navlink {
    text-decoration: none;
    background-color: #c41200;
    color: white;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;

}


.no-brewery-div {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-brew-snippet-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 15px;
    padding-left: 150px;
    padding-right: 150px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 15px;
}

.profile-brew-snippet-list-container > h2 {
    border-bottom: #c41200 2px solid;
    display: flex;
    justify-content: center;
    width: 800px;
}

.profile-snippets {
    display: flex;
    flex-wrap: wrap;
}

.profile-brew-snippet-box {
    margin: 15px;
}

.review-content {
    word-break: break-all;
}

.my-review-snippet-container {
    display: flex;
    flex-direction: column;
flex-wrap: wrap;
align-items: center;
justify-content: space-evenly;
padding-bottom: 15px;
/* padding-left: 150px;
padding-right: 150px; */
margin-bottom: 50px;

margin-left: 50px;
margin-right: 50px;
}

.my-review-container-placement {
    display: flex;
    justify-content: center;
    width: 100%;
}

.my-profile-tab-title {
    padding-bottom: 15px;
}

@media screen and (max-width: 850px) {
    .profile-body-div {
        margin-top: 50px;
        margin-bottom: 50px;
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
    }

    .profile-brew-snippet-list-container > h2 {
        border-bottom: #c41200 2px solid;
        display: flex;
        justify-content: center;
        width: 400px;
    }

}
