.profile-body-div {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
}

.profile-name-title {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.profile-host-navlink {
    text-decoration: none;
    background-color: #c41200;
    color: white;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;

}


.no-brewery-div {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.brew-snippet-list-container {

}
