.nav-container {
    display: flex;
    justify-content: space-around;
    /* position: fixed; */
    top: 0;
    background-color: #c41200;
    width: 100%;
    align-items: center;
  }

  .nav-session-links {
    display: flex;
    justify-content: space-between;
    width: 150px;
    list-style-type: none;
  }

  .Nav-logo-container {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    font-family: "Oleo Script Swash Caps", cursive;
  }

  .home-button {
    cursor: pointer;
    border-radius: 5px;
    border: 0;
    background-color: transparent;
  }

  .fa-solid.fa-house {
    font-size: 30px;
    color: white;
  }

  .profileContainer {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
  }

  .profileButton {
    cursor: pointer;
    border-radius: 5px;
    border: 0;
    width: 50px;
    background-color: transparent;
  }

  .fa-solid.fa-user {
    font-size: 30px;
    color: white;
  }

  .fa-regular.fa-user {
    margin-right: 5px;
  }

  .fa-solid.fa-arrow-right-from-bracket {
    margin-right: 5px;
  }

  .profile-dropdown {
    border: black solid;
    background-color: white;
    border-radius: 10px;
    top: 60px;
    min-height: 60px;
    height: 75px;
    width: 115px;
    padding: 10px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: absolute;
    text-decoration: none;
    color: inherit;
    /* padding: 15px; */
  }

  .loggedInUserNav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    font-size: medium;
  }

  .profileLink {
    text-decoration: none;
    color: inherit;
  }

  .profileLink:hover {
    background-color: #c41200;
    color: white;
    border-radius: 3px;
    padding: 5px;
  }

  .profileItem {
    padding: 5px;
  }


  .session-links {
    text-decoration: none;
    color: white;
  }

  .host-navlink{
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    width: 110px;
    margin-right: 10px;
    /* padding: 50px; */

  }

  .host-form-li {
    display: flex;
    align-items: center;
  }

  .logout-button {
    background-color: transparent;
    color: inherit;
    font-size: inherit;
    border: 0;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    align-self: flex-end;
  }

  .logout-button:hover {
    background-color: #c41200;
    color: white;
    border-radius: 3px;
    padding: 5px;
  }
