.brewery-page-div {
    /* margin-top: 40px; */
}

#carousel {
    width: 100%;
    height: 400px;
    background-color: gray;
    /* display: flex;
    flex-direction: row;
    justify-content: center; */

    overflow-y: hidden;
    overflow-x: auto;
    white-space:nowrap;

}

#carousel .slide {
    display: inline-block;
}

.carousel-images {
    /* z-index:-1; */
    width: 400px;
    height: 400px;
    object-fit: cover;
}

.brewery-detail-body-container {
display: flex;
justify-content: space-evenly;
/* width: 800px; */
}

.brew-body {
    display: flex;
    justify-content: flex-start;
    /* width: 550px; */
    margin-left: 5px;

}

.profile-brew-page-button {
    background-color: #c41200;
    cursor: pointer;
    color: white;
    padding: 15px;
    border-radius: 5px;
    border: 0;
    margin-left: 5px;
}

.brew-page-title {
    position: absolute;
    top: 300px;
    left: 100px;
    color: white;
    font-weight: bolder;
    width: 80%;
    /* font-size: large; */
}

input[type="radio"] {
    display: none;
}

.star {
    cursor: pointer;
    transition: color 200ms;
}

.star-view-div {
    display: flex;
}

.brew-review-container {
    width: 500px;
    margin-bottom: 50px;
}

.brew-review-container-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.brew-review-container-top > h3 {
    margin-right: 50px;
}

.carousel-content {
    display: flex;
    justify-content: space-between;
    /* max-width: 1500px; */
    width: auto;
    align-items: flex-end;
}

.all-photo {
    width: 100%;
    text-decoration: none;
    color: white;
    border: solid;
    border-color: white;
    border-radius: 5px;
    padding: 10px;
}

.review-content {
    word-break: break-all;
}

.review-star {
    border: white;
}

.reviewFormButton {
    background-color: #c41200;
    cursor: pointer;
    color: white;
    padding: 15px;
    margin-left: 5px;
    border-radius: 5px;
    border: 0;
}

.review-edit-delete > button {
     margin-right: 5px;
     padding: 10px;
     margin-bottom: 3px;
}

.review-photo-div {
    margin-top: 15px;
    margin-left: 50px;
    display: flex;

}

.review-photo-div > button {
    margin-right: 5px;
    margin-left: 5px;
}

.review-box {
    border-top: #c41200 2px solid;
}

@media screen and (max-width: 750px)
{
    .brewery-detail-body-container {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    .contact-info-div {
        display: flex;
        /* flex-direction: row; */
    }

    .brew-review-container {
        width: 500px;
        margin-bottom: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 400px)
{
    .brewery-detail-body-container {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        /* box-sizing: border-box; */
    }
    .contact-info-div {
        display: flex;
        font-size: medium;
    }
}
