.brewery-page-div {
    margin-top: 73px;
}

#carousel {
    width: 100%;
    height: 400px;
    background-color: gray;

    overflow-y: hidden;
    overflow-x: auto;
    white-space:nowrap;

}

#carousel .slide {
    display: inline-block;
}

.carousel-images {
    z-index:-1;
    width: 400px;
    height: 400px;
    object-fit: cover;
}

.brewery-detail-body-container {
display: flex;
justify-content: space-evenly;
/* width: 800px; */
}

.brew-title {

}

input[type="radio"] {
    display: none;
}

.star {
    cursor: pointer;
    transition: color 200ms;
}

.star-view-div {
    display: flex;
}

.brew-review-container {
    width: 500px;
}

.brew-review-container-top {
    display: flex;
    align-items: center;
}

.brew-review-container-top > h3 {
    margin-right: 50px;
}

.review-content {
    word-break: break-all;
}
