.search-result-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-bottom: 15px;
    padding-left: 300px;
    padding-right: 300px;
    margin-top: 73px;
    margin-left: 150px;
    margin-right: 100px;
    /* max-width: 1500px; */
}
.search-brew-snippet-image-background {
    background-color: #c41200;
    height: 200px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    /* position: relative; */


}

.search-bar-input {
    padding: 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 0;

}

.search-button {
    color: #c41200;
    cursor: pointer;
    background-color: white;
    border: 0;
    padding: 10px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

input:focus,
select:focus,
textarea:focus {
    outline: none;
}

.search-bar-div {
    display: flex;
    flex-wrap: nowrap;
}
